Les données semblent être structurées sous forme de lignes. Si on assimile les lettres a b c d e f g comme étant des colonnes alors on aura:

    Colonne 1 (a) : Un identifiant unique ou un index pour chaque entrée dans le jeu de données.
    Colonne 2 (b) : Une description détaillée ou un texte associé à chaque entrée.
    Colonne 3 (c) : Le prénom de la personne associée à chaque entrée.
    Colonne 4 (d) : Le nom de famille de la personne associée à chaque entrée.
    Colonne 5 (e) : Une valeur numérique
    Colonne 6 (f) : Une autre valeur numérique, qui semble être souvent égale à zéro.
    Colonne 7 (g) : Encore une autre valeur numérique

In [1]:
import dask.dataframe as dd

# Essayez de lire le fichier CSV
try:
    df = dd.read_csv('data1.csv', sep=';')
except Exception as e:
    print("Error:", e)

In [2]:

df.head(40)

                                        a,b,c,d,e,f,g
0     0,longue description 0,Victor,Évrat,1779,0,1779
1        1,longue description 1,Ugo,Ogier,3218,0,3218
2      2,longue description 2,Gerard,Zola,3909,0,3909
3   3,longue description 3,Ingrid,Quesada,2672,0,2672
4     4,longue description 4,Xavier,Yvars,4224,0,4224
5      5,longue description 5,Régis,Ferry,3479,0,3479
6     6,longue description 6,Thierry,Zola,0,-402,-402
7    7,longue description 7,Elodie,Hénaut,2623,0,2623
8      8,longue description 0,Xavier,Zola,1249,0,1249
9    9,longue description 1,Pascal,Cannet,1986,0,1986
10  10,longue description 2,Victor,Martin,4417,0,4417
11   11,longue description 3,Salomé,Niels,3175,0,3175
12  12,longue description 4,Jérémie,Quesada,0,-490...
13    13,longue description 5,Martine,Évrat,855,0,855
14     14,longue description 6,Zoé,Urbain,3063,0,3063
15  15,longue description 7,Léopold,Évrat,3453,0,3453
16  16,longue description 0,Nicolas,Janel,1104,0,1104
17  17,longue description 1,Pascal,Sablonnière,0,-...
18  18,longue description 2,Martine,Aubry,3419,0,3419
19     19,longue description 3,Ugo,Hénaut,4847,0,4847
20   20,longue description 4,Jérémie,Zola,2175,0,2175
21     21,longue description 5,Karim,Zola,3680,0,3680
22       22,longue description 6,Ugo,Vergez,785,0,785
23     23,longue description 7,Zoé,Urbain,0,-849,2214
24    24,longue description 0,Ugo,Barbier,1983,0,1983
25  25,longue description 1,Pascal,Dupond,4206,0,4206
26  26,longue description 2,Ingrid,Geneau,2538,0,2538
27   27,longue description 3,Gerard,Ferry,1693,0,1693
28  28,longue description 4,Jérémie,Barbier,1103,0...
29  29,longue description 5,Martine,Niels,4225,0,4225
30  30,longue description 6,Nicolas,Yvars,3600,0,3600
31  31,longue description 7,William,Lombard,2762,0...
32  32,longue description 0,Martine,Rollin,1957,0,...
33  33,longue description 1,Victor,Lombard,3138,0,...
34  34,longue description 2,William,Truchot,0,-159...
35  35,longue description 3,François,Janel,1451,0,...
36     36,longue description 4,Salomé,Évrat,920,0,920
37     37,longue description 5,Ugo,Walliand,993,0,993
38  38,longue description 6,Héloïse,Aubry,3178,0,3178
39  39,longue description 7,Karim,Sablonnière,0,-1...

In [3]:
def trouver_valeur_maximale_ligne(row):
    return row.max()

# Appliquer la fonction à chaque ligne du DataFrame
valeurs_maximales_par_ligne = df.apply(trouver_valeur_maximale_ligne, axis=1)

# Calculer les valeurs maximales
valeurs_maximales_calculées = valeurs_maximales_par_ligne.compute()

# Afficher les valeurs maximales par ligne
print(valeurs_maximales_calculées)

C:\Users\User 01\anaconda3\Lib\site-packages\dask\dataframe\core.py:5983: UserWarning:
You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=(None, 'object'))

  warnings.warn(meta_warning(meta))

0           0,longue description 0,Victor,Évrat,1779,0,1779
1              1,longue description 1,Ugo,Ogier,3218,0,3218
2            2,longue description 2,Gerard,Zola,3909,0,3909
3         3,longue description 3,Ingrid,Quesada,2672,0,2672
4           4,longue description 4,Xavier,Yvars,4224,0,4224
                                ...
839208    839208,longue description 0,Léopold,Zola,3067,...
839209    839209,longue description 1,Amandine,Yvars,279...
839210    839210,longue description 2,Gerard,Cannet,4401...
839211    839211,longue description 3,Régis,Ogier,0,-580...
839212                     839212,longue description 4,Béat
Length: 839213, dtype: object

In [4]:
valeur_maximale_totale = df.max().compute()

# Afficher la valeur maximale
print("La valeur maximale dans toute la DataFrame est :", valeur_maximale_totale)

La valeur maximale dans toute la DataFrame est : a,b,c,d,e,f,g    99999,longue description 7,Céline,Évrat,163,0,...
dtype: object

In [7]:
plus_grande_valeur = float('-inf')  # Initialisation à la plus petite valeur possible

# Parcourir les valeurs maximales calculées
for ligne in valeurs_maximales_calculées:
    # Diviser la ligne en valeurs individuelles (séparées par des virgules)
    valeurs = ligne.split(',')
    # Parcourir les valeurs pour extraire les nombres
    for valeur_str in valeurs:
        # Tenter de convertir la valeur en float
        try:
            valeur = float(valeur_str)
            # Comparer la valeur actuelle avec la plus grande valeur rencontrée jusqu'à présent
            if valeur > plus_grande_valeur:
                plus_grande_valeur = valeur
        except ValueError:
            # Ignorer les valeurs qui ne peuvent pas être converties en float
            pass

# Afficher la plus grande valeur
print("La plus grande valeur parmi toutes les valeurs numériques est :", plus_grande_valeur)

La plus grande valeur parmi toutes les valeurs numériques est : 2748488.0